.frontpage {
    float: right;
}
.navbar {
    margin-bottom: 0;
}
.person-wrapper {
    margin-bottom: 2em;
}
.profile-pic {
    width: 50%;
}
.btn-primary {
    background: none;
    border: none;
    border-radius: 0;
    background-color: rebeccapurple;
}
h3 {
    margin-bottom: 1em;
}
.search {
    color: darkred
}
.SULogo {
    margin-left: 10%;
    height: 8%;
    width: 20%;
}
.topprofiles { 
    display: inline-block;
    float: left;
    width: 20%;
    height: 165px;
    }
