body {
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 0;
}

.person-wrapper {
    margin-bottom: 2em;
}

.profile-pic {
    width: 50%;
}

.btn-primary {
    background: none;
    border: none;
    border-radius: 0;
    background-color: rebeccapurple;
}

h3 {
    margin-bottom: 1em;
}

.middle-row {
    z-index: 999;
    overflow: visible;
}

.search {
    color: white;
    background-image: none;
    background-color: #356b89;
}

.SULogo {
    height: 200px;
    float: left;
}

.home-heading {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    color: #356b89 !important;
}

.topprofiles {
    display: inline-block;
    width: 20%;
    height: 165px;
    z-index: -1;
}